<div class="container">
    <div class="jumbotron">
        <h1>QuizBuilder</h1>
        <p>Welcome to QuizBuilder! The best site for taking quizzes on the internet!</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Easy!</h3>
        </div>
        <div class="col-md-4">
            <h3>Anywhere!</h3>
        </div>
        <div class="col-md-4">
            <h3>Earth Friendly!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>Cum elaboraret efficiendi concludaturque an, ad saperet nominavi pri. Ut quo noster vocent veritus. Fugit reprimique definitionem ne per, mea no vidisse sadipscing, cu sea blandit pertinax. Quo an sanctus prodesset intellegebat. Nonumy iracundia abhorreant ei eam, tale inciderint sit ad. Mei et habemus voluptatum voluptatibus.</p>
        </div>
        <div class="col-md-4">
            <p>Sint similique efficiantur eu mel, ex quot elitr nominati eos. Eam graeco vocibus at, eam facer impedit ex. Saepe audiam duo no, at cum omittam delicatissimi, sea sale brute audire et. Sed in tation civibus, esse laboramus necessitatibus in vis. Et vix reque everti praesent, maiorum dignissim vim ut.</p>
        </div>
        <div class="col-md-4">
            <p>Vel laudem aperiam voluptua at, novum cetero nostrum ex has. Elitr dissentias voluptatibus ei vim. Autem argumentum usu id, quo ex discere disputando. Et veritus scaevola his. Quo no aperiam ancillae, ea elitr indoctum praesent quo. Ea eos verterem consequat, tale ludus accusam ius ad, cu vis utroque aliquando definitionem.</p>
        </div>
    </div>
</div>
