<div class="container">
    <div class="jumbotron">
        <h1>QuizBuilder</h1>
        <p>Welcome to QuizBuilder! The best site for taking quizzes on the internet!</p>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <h3>Which button is labeled "A"</h3>
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-default">A</button>
                <button type="button" class="btn btn-default">B</button>
                <button type="button" class="btn btn-default">C</button>
                <button type="button" class="btn btn-default">D</button>
            </div>
        </div>
    </div>
</div>
